body {
  height: 100vh;
}

#overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  display: none;
}

.container {
  margin-top: 5vh;
}

.container h1 {
  text-align: center;
}

.col-12 {
  margin: 3.33;
}

.card {
  position: fixed;
  top: 15%;
  left: 15%;
  bottom: 15%;
  right: 15%;
  z-index: 2;
  display: none;
}

.blur {
  animation-name: blur;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes blur {
  0% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    opacity: 0.5;
    filter: blur(2px);
  }
}

.unblur {
  animation-name: unblur;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes unblur {
  0% {
    opacity: 0.5;
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.appear {
  animation-name: appear;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    display: block;
    filter: blur(2px);
  }
  100% {
    display: block;
    filter: blur(0);
  }
}

@media screen and (max-width: 767px) {
  .container {
    margin-top: 5vh;
  }
}
